<mat-card class="mb-5">
  <mat-card-header>
    <mat-card-title>
      <h1 class="border-bottom">Dogs</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let dog of dogs; let last = last;" (click)="select(dog)" class="mat-list-option border-bottom" [ngClass]="{'no-bottom-border': last}">
        <h3 mat-line>
          {{dog.name}}
        </h3>
        <p mat-line>
          {{dog.life_span}}
        </p>
        <button mat-mini-fab (click)="delete(dog); $event.stopImmediatePropagation()" class="mr-3">
        <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="mr-2" [routerLink]="dog.id" routerLinkActive="active" >
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
